*{
     margin: 0;
     padding: 0;
}
body{
     background-color: lightgoldenrodyellow;
}
.mainCard{
     height: 79vh;
     width: 80vw;
     background-color: blue;
     display: flex;
     flex-direction: row;
     gap: 12px;
     flex-wrap:nowrap;
}
.card-container{
     height: 70vh;
     width: 100vw;
     background-color: rgb(248, 252, 205);
     color: red;
     display: flex;
     flex-direction: row;

}
.card{
     height: 400px;
     width: 300px;
     background-color: darkorange;
     color: white;
     display: flex;
     flex-direction: column;
     gap: 10px;
}